.themes-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.theme-button {
    height: 200px;
    width: 150px;
    cursor: pointer;
    position: absolute;
}

.theme {
    margin: 6px;
    width: 150px;
    height: 200px;
}

.theme-frame {
    border-radius: 12px;
    border-color: white;
    border-style: solid;
    pointer-events: none;
}

.clear-button {
    /* height: 65px; */
    display: flex;
    align-items: center;
}

.clear-button > img {
    /* height: 100%;
    width: 100%; */
    height: 65px;
    width: 100%;
}